.tooltip-container {
  background-color: rgb(28, 28, 28);
  color: rgb(211, 211, 211);
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 0.8rem;
  width:max-content;
}
