<div class="settings-wrapper">
    <!-- <div class="left-side" appResizable="right"> -->
    <div class="area">
        <div class="left-side">
            <div class="item" [ngClass]="{'selected':selectedOption == 'General'}" (click)="toggle('General')">General
            </div>
            <div class="item" [ngClass]="{'selected':selectedOption == 'Editor'}" (click)="toggle('Editor')">Editor
            </div>
            <div class="item" [ngClass]="{'selected':selectedOption == 'Appearance'}" (click)="toggle('Appearance')">
                Appearance</div>
            <div class="item" [ngClass]="{'selected':selectedOption == 'Notifications'}"
                (click)="toggle('Notifications')">Notifications</div>
            <div class="item" [ngClass]="{'selected':selectedOption == 'Privacy'}" (click)="toggle('Privacy')">Privacy
            </div>
            <div class="item" [ngClass]="{'selected':selectedOption == 'Security'}" (click)="toggle('Security')">
                Security</div>
            <div class="item" [ngClass]="{'selected':selectedOption == 'Help'}" (click)="toggle('Help')">Help</div>
        </div>
        <div class="settings">
            <div *ngIf="selectedOption == 'General'">
                <h4>App</h4>
                <div class="divider"></div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Automatic Updates</h3>
                        <p class="description">Enable automatic updates for the app</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.general.autoUpdate" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Language</h3>
                        <p class="description">Select the language for the app</p>
                    </div>
                    <div class="option">
                        <p-dropdown [options]="languages" optionLabel="label" placeholder="Select a Language"
                            [(ngModel)]="settings.general.language" optionValue="value" [disabled]="true"></p-dropdown>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Focus New Files</h3>
                        <p class="description">Always focus new Files in the editor</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.general.alwaysFocusNewFiles" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedOption == 'Editor'">
                <h4>Editor Appearance</h4>
                <div class="divider"></div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Font Size</h3>
                        <p class="description">The font size for the editor</p>
                    </div>
                    <div class="option">
                        <p-inputNumber [(ngModel)]="settings.editor.fontSize" [min]="8" [max]="24" [showButtons]="true"
                            inputId="integeronly" [showButtons]="false"></p-inputNumber>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Font Family</h3>
                        <p class="description">The font family for the editor</p>
                    </div>
                    <div class="option">
                        <input type="text" pInputText [(ngModel)]="settings.editor.fontFamily">
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Show Line Numbers</h3>
                        <p class="description">Show line numbers in the editor</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.editor.showLineNumbers" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Autosave</h3>
                        <p class="description">Automatically save the contents of the current file. (Ctrl + S otherwise).</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.editor.autoSave"></p-inputSwitch>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedOption == 'Appearance'">
                <h4>Interface Appearance</h4>
                <div class="divider"></div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Theme</h3>
                        <p class="description">The theme for the app UI</p>
                    </div>
                    <div class="option">
                        <p-dropdown [options]="themes" optionLabel="label" placeholder="Select a Theme"
                            [(ngModel)]="settings.appearance.theme" optionValue="value" [disabled]="true"></p-dropdown>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Font Size</h3>
                        <p class="description">The font size for the app UI</p>
                    </div>
                    <div class="option">
                        <p-inputNumber [(ngModel)]="settings.appearance.UIFontSize" [min]="8" [max]="24"
                            [showButtons]="true" inputId="integeronly" [showButtons]="false"></p-inputNumber>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Font Family</h3>
                        <p class="description">The font family for the app UI</p>
                    </div>
                    <div class="option">
                        <input type="text" pInputText [(ngModel)]="settings.appearance.UIFontFamily">
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Accent Color</h3>
                        <p class="description">The accent color for the app UI</p>
                    </div>
                    <div class="option">
                        <p-colorPicker [(ngModel)]="settings.appearance.accentColor" [disabled]="true"></p-colorPicker>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedOption == 'Notifications'">
                <h4>Notifications</h4>
                <div class="divider"></div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Email Notifications</h3>
                        <p class="description">Enable email notifications</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.notifications.email" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Push Notifications</h3>
                        <p class="description">Enable push notifications</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.notifications.push" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">SMS Notifications</h3>
                        <p class="description">Enable SMS notifications</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.notifications.sms" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedOption == 'Privacy'">
                <h4>Privacy</h4>
                <div class="divider"></div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Allow Cookies</h3>
                        <p class="description">Allow cookies to be stored on your device</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.privacy.allowCookies" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Allow Tracking</h3>
                        <p class="description">Allow third-party tracking</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.privacy.allowTracking" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Third Party Cookies</h3>
                        <p class="description">Allow third-party cookies</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.privacy.allowThirdParty" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedOption == 'Security'">
                <h4>Security</h4>
                <div class="divider"></div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Two Factor Authentication</h3>
                        <p class="description">Enable two-factor authentication</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.security.twoFactor" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Note Encryption</h3>
                        <p class="description">Encrypt notes</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.security.encryption" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting">
                    <div class="text">
                        <h3 class="name">Use Password</h3>
                        <p class="description">Use password to access the app</p>
                    </div>
                    <div class="option">
                        <p-inputSwitch [(ngModel)]="settings.security.usePassword" [disabled]="true"></p-inputSwitch>
                    </div>
                </div>
                <div class="setting" *ngIf="settings.security.usePassword">
                    <div class="text">
                        <h3 class="name">Password</h3>
                        <p class="description">Change your App password (Different from Account)</p>
                    </div>
                    <div class="option">
                        <button pButton type="button" label="Change App Password" (click)="changePassword()" [disabled]="true"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <!-- <p-button label="Reset" (onClick)="reset()" [outlined]="true" severity="secondary"></p-button> -->
        <p-button label="Cancel" (onClick)="cancel()" [outlined]="true" severity="secondary"></p-button>
        <p-button label="Save" (onClick)="save()"></p-button>
    </div>

</div>