<div class="app-wrapper dark">
  <app-toolbar></app-toolbar>
  <div class="horizontal">
    <app-sidebar></app-sidebar>
    <div class="main-area">
      <div class="tabs">
        <div class="tab" *ngFor="let tab of tabs" [class.active]="tab.Id === activeTabId" (click)="openTab(tab.Id)">
          <img src="icons/{{tab.icon}}.svg" class="icon" *ngIf="tab.icon"/>
          <p>{{tab.title}}</p>
          <button (click)="closeTab(tab.Id)"><img src="icons/x.svg" class="icon close" /></button>
        </div>
      </div>
      <div class="tab-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-toast-area></app-toast-area>
</div>