<div class="app-wrapper dark" *ngIf="!isPopup">
  <app-toolbar></app-toolbar>
  <div class="horizontal">
    <app-alert [alert]="alertFromService" *ngIf="showAlert" 
    (cancelEvent)="alertCancelled()" (confirmEvent)="alertConfirmed()"></app-alert>
    <app-sidebar></app-sidebar>
    <div class="main-area">
      <div class="tabs">
        <!-- TODO: Add PLUS Button -->
        <div class="tab" *ngFor="let tab of tabs" [class.active]="tab.Id === activeTabId" (click)="openTab(tab.Id)">
          <img src="icons/{{tab.icon}}.svg" class="icon" *ngIf="tab.icon"/>
          <p>{{tab.title}}</p>
          <button class="app-button" (click)="closeTab(tab.Id)"><img src="icons/x.svg" class="icon close" /></button>
        </div>
      </div>
      <div class="tab-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-toast-area></app-toast-area>
</div>

<div class="popup dark" *ngIf="isPopup">
  <div class="popup-content">
    <app-toolbar [showOptions]="false" title="Settings"></app-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>