<ul>
  <li *ngFor="let node of fileNodes">
    <form *ngIf="node.createFile && creatingFile" (submit)="createFile(node)" class="file-form">
      <input
        type="text"
        [(ngModel)]="node.name"
        (keyup.enter)="createFile(node)"
        (keyup.escape)="cancelFileEdit(node)"
        name="fileName"
        #fileInput
      />
      <p>.txt</p>
    </form>
    <form *ngIf="node.createFolder && creatingFolder" 
    (submit)="createFolder(node)">
      <input
        type="text"
        [(ngModel)]="node.name"
        (keyup.enter)="createFolder(node)"
        (keyup.escape)="cancelFolderEdit(node)"
        name="folderName"
        #folderInput
      />
    </form>
    <div
      class="area"
      [appContextMenu]="getContextMenu(node)"
      (click)="clicked(node)"
      [ngClass]="{ 'offset': node.extension }"
      *ngIf="!(node.name === '.DS_Store') && !node.createFile && !node.createFolder"
    >
      <img
        [src]="'icons/' + node.icon + '.svg'"
        class="icon"
        *ngIf="!node.extension"
      />
      <p *ngIf="node.name">{{ node.name }}</p>
    </div>
    <ul *ngIf="node.children?.length && node.isExpanded">
      <app-file-tree [fileNodes]="node.children!"></app-file-tree>
    </ul>
  </li>
</ul>
