@import '../../../vars.scss';

.toolbar {
  width:100%;
  min-height: 20px;
  border-bottom: 1px solid $border-color;
}

.drag-region {
  -webkit-app-region: drag;
  width: 100%;
  display: flex;
  padding:10px 0;
  justify-content: space-between;
}

.buttons{
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  gap:8px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.control-btn{
  -webkit-app-region: no-drag;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: $control-button-background-color;
  color:$control-button-primary-color;
}

.items{
  display:flex;
  flex-direction: row;
  gap:10px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  button{
    font-size: 18px;
  }
}
button{
  -webkit-app-region: no-drag;
}