<div class="sidebar-wrapper" appResizable="right">
    <div class="inset-wrapper">
      <button><i data-feather="folder" class="icon filled"></i></button>
    </div>
    <div class="sidebar-content">
      <div class="action-buttons">
        <button><i data-feather="folder-plus" class="icon"></i>
        </button>
        <button><i data-feather="file-plus" class="icon"></i></button>
      </div>
      <div class="sidebar-list">
        <app-file-tree [fileNodes]="fileNodes"></app-file-tree>
      </div>
    </div>
  </div>
  