<div class="sidebar-wrapper" appResizable="right">
  <div class="inset-wrapper">
    <div class="option">
      <button class="app-button" ><i data-feather="home" class="icon"></i></button>
    </div>
    <div class="option toggled">
      <button class="app-button" ><i data-feather="folder" class="icon"></i></button>
    </div>
    <div class="option">
      <button class="app-button" ><i data-feather="search" class="icon"></i></button>
    </div>
    <div class="option">
      <button class="app-button" ><i data-feather="code" class="icon"></i></button>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="action-buttons">
      <button class="app-button"><i data-feather="search" class="icon"></i></button>
      <button class="app-button" (click)="createFolder()"><i data-feather="folder-plus" class="icon"></i></button>
      <button class="app-button" (click)="createFile()"><i data-feather="file-plus" class="icon"></i></button>
      <button class="app-button" (click)="minimise()"><i data-feather="minimize-2" class="icon"></i></button>
    </div>
    <!-- <div class="sidebar-list" [appContextMenu]="getContextMenu()"> -->
    <div class="sidebar-list">
      <div class="mini-title">
        <h5>Notes</h5>
      </div>
      <app-file-tree [fileNodes]="fileNodes"></app-file-tree>
    </div>
  </div>
</div>