<div class="note-wrapper">
  <div class="note-area" #noteArea>
    <textarea [(ngModel)]="noteContent" pInputTextarea (input)="valueChanged()" class="custom-textarea" #textArea
      placeholder="Start typing here..."></textarea>
  </div>
  <div class="bottom-float">
    <p *ngIf="touched">Unsaved Changes</p>
    <div class="md" *ngIf="extension === 'md'">
      <button class="app-button" (click)="setEditorMode('edit')" appTooltip="Edit Mode">
        <svg xmlns="http://www.w3.org/2000/svg" alt="Edit Mode" [ngClass]="{'editing-mode-selected': mdMode == 'edit'}" class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
      </button>
      <button class="app-button" (click)="setEditorMode('view')" appTooltip="View Mode">
        <svg xmlns="http://www.w3.org/2000/svg" alt="View Mode" [ngClass]="{'editing-mode-selected': mdMode == 'view'}"  class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
      </button>
      <button class="app-button" (click)="setEditorMode('both')" appTooltip="Combined Mode">
        <svg xmlns="http://www.w3.org/2000/svg" alt="Combined Mode" [ngClass]="{'editing-mode-selected': mdMode == 'both'}" class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path></svg>
      </button>
    </div>
    <div class="stats">
      <div class="stat">
        <p class="name">Words</p>
        <p class="value">{{ wordCount }}</p>
      </div>
      <div class="stat">
        <p class="name">Chars</p>
        <p class="value">{{ charCount }}</p>
      </div>
    </div>
  </div>

</div>