<div class="note-wrapper">
  <div class="note-area" #noteArea>
    <div class="editor-preview">
      <div *ngFor="let line of lines; let i = index"
           [innerHTML]="line.selected ? line.raw : line.rendered"
           contenteditable="true"
           (focus)="selectLine(i)"
           (blur)="updateLineContent($event, i)"
           (keydown)="handleKeydown($event, i)"
           #lineDiv class="lineDiv">
      </div>
    </div>
  </div>
  <div class="note-stats" #stats>
    <div class="stats">
      <div class="stat">
        <p class="name">Words</p>
        <p class="value">{{ wordCount }}</p>
      </div>
      <div class="stat">
        <p class="name">Characters</p>
        <p class="value">{{ charCount }}</p>
      </div>
    </div>
  </div>
</div>
