<div class="note-wrapper">
    <div class="toolbar">
      <button (click)="goBack()"><i data-feather="arrow-left" class="icon"></i></button>
    </div>
    <div class="note-area">
      <div class="editor-preview">
        <div *ngFor="let line of lines; let i = index" 
             [innerHTML]="line.selected ? line.raw : line.rendered" 
             contenteditable="true" 
             (focus)="selectLine(i)" 
             (input)="updateLineContent($event, i)">
        </div>
      </div>
    </div>
  </div>
  