@import "primeng/resources/primeng.css";
@import './custom-ng.css';
@import './vars.scss'; 
body{
    background-color: $background-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: $text-color;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    font-weight: 400;
}

.app-button{
    border: none;
    outline: none;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:0;
    margin:0;
    background-color: transparent;
    color: $text-color;
    stroke: $text-color;
    transition: all 0.3s;
    &:hover{
        color: $button-hover-color;
        stroke: $button-hover-color;
        transform: scale(1.05);
    }
    .icon{
        width: 20px;
        height: 20px;
    }
    .filled {
        fill: currentColor;
    }
}

input{
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 4px;
    background-color: $light-background-color;
    color: $text-color;
    font-size: 1rem;
    border: 1px solid $border-color;
    width: 100%;
    box-sizing: border-box;
    margin-top:4px;
}

.p-button{
    padding:8px 10px;
    font-size: small;
    .p-button-label{
        font-weight: 500;
    }
}